 <h3>{{filme.dataValues.titulo}}</h3>
        <p><b>Diretor:</b> {{filme.dataValues.diretor}}</p>
        <p><b>Ano de Laçamento:</b> {{filme.dataValues.ano}}</p>
        <p><b>Sinopse:</b> {{filme.dataValues.sinopse}}</p>
        <p><b>Disponibilidade:</b> {{filme.dataValues.disponibilidade}}</p>