 <h3>{{filme.titulo}}</h3>
        <p><b>Diretor:</b> {{filme.diretor}}</p>
        <p><b>Ano de Laçamento:</b> {{filme.ano}}</p>
        <p><b>Sinopse:</b> {{filme.sinopse}}</p>
        <p><b>Disponibilidade:</b> {{filme.disponibilidade}}</p>