{{#each erros}}
<div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}
<h3>Editar Filme:</h3>

<div class="card">
    <div class="card-body">
        <form action="/admin/filme/update" method="post">
            <input type="hidden" name="id" value="{{filme._id}}">
            <label for="titulo">Título: </label>
            <input type="text" id="titulo" name="titulo" placeholder="Titulo do Filme" class="form-control mt-2" value="{{filme.titulo}}">
            <label for="titulo">Diretor: </label>
            <input type="text" id="diretor" name="diretor" placeholder="Diretor do Filme" class="form-control mt-2" value="{{filme.diretor}}">
            <label for="dataLancamento">Data de Lançamento: </label>
            <input type="date" id="dataLancamento " name="dataLancamento" class="form-control mt-2" value="{{filme.ano}}">
            <label for="sinopse">Sinopse: </label>
            <textarea type="text" id="sinopse" name="sinopse" class="form-control mt-2">{{filme.sinopse}}</textarea>
            <label for="disponibilidade">Disponibilidade: </label>
            <label for="disponibilidade">Disponibilidade: </label>
            <select id="disponibilidade" name="disponibilidade" class="custom-select">
                <option value="Em Cartaz">Em Cartaz</option>
                <option value="Em Breve">Em Breve</option>
            </select>

            <button type="submit" class="btn btn-success mt-4">Editar Filme</button>
        </form>
    </div>
</div>