<h1>Filmes:</h1>

<a href="/admin/filme/reg"><button class="btn btn-success mt-4">Novo Filme</button></a>

{{#each filmes}}
<div class="card mt-2">
    <div class="card-body">
        <h3>{{dataValues.titulo}}</h3>
        <p><b>Diretor:</b> {{dataValues.diretor}}</p>
        <p><b>Ano de Lançamento:</b> {{dataValues.ano}}</p>
        <p><b>Sinopse:</b> {{dataValues.sinopse}}</p>
        <p><b>Disponibilidade:</b> {{dataValues.disponibilidade}}</p>
        <a href="/admin/filme/edit/{{dataValues.id}}"><button class="btn btn-success mt-2">Editar</button></a>
        <form action="/admin/filme/delete" method="post">
            <input type="hidden" name="id" value="{{dataValues.id}}" />
            <button class="btn btn-danger mt-2">Deletar</button>
        </form>
    </div>
</div>
{{else}}
<h4 class="mt-4">Nenhum filme cadastrado!</h4>

{{/each}}