<h1>Lista de Usuários</h1>

<div class="container">
    <div class="row row-cols-5">
        <div class="col">Nome</div>
        <div class="col">E-mail</div>
        <div class="col">Cargo</div>
        <div class="col">Promover</div>
        <div class="col">Rebaixar</div>
    </div>
</div>


{{#each usuarios}}
<div class="card">
    <div class="card-body">
        <div class="row row-cols-5">
            <div class="col">{{nome}}</div>
            <div class="col">{{email}}</div>
            <div class="col">{{tipoUser}}</div>
            <div class="col">
                <form action="/adminMaster/up" method="post">
                    <input type="hidden" name="id" value="{{id}}" />
                    <button class="btn btn-success mt-2">Promover</button>
                </form>

            </div>
            <div class="col">
                <form action="/adminMaster/down" method="post">
                    <input type="hidden" name="id" value="{{id}}" />
                    <button class="btn btn-danger mt-2" disabled>Rebaixar</button>
                </form>

            </div>
        </div>
    </div>
</div>
{{else}}
<br />
<text class="mt-2">Não há usuários cadastrados</text>
{{/each}}

{{#each admins}}
<div class="card">
    <div class="card-body">
        <div class="row row-cols-5">
            <div class="col">{{nome}}</div>
            <div class="col">{{email}}</div>
            <div class="col">{{tipoUser}}</div>
            <div class="col">
                <form action="/adminMaster/up" method="post">
                    <input type="hidden" name="id" value="{{id}}" />
                    <button class="btn btn-success mt-2" disabled>Promover</button>
                </form>

            </div>
            <div class="col">
                <form action="/adminMaster/down" method="post">
                    <input type="hidden" name="id" value="{{id}}" />
                    <button class="btn btn-danger mt-2">Rebaixar</button>
                </form>

            </div>
        </div>
    </div>
</div>
{{else}}
<br />
<text class="mt-2">Não há admins cadastrados</text>
{{/each}}